* {
  box-sizing: border-box;
  /* final rescue */ }

code {
  font-family: consolas; }

.big {
  font-size: 32px; }

.lambda {
  color: gray;
  font-style: italic; }

.highlighted {
  background-color: yellow; }

span.gsymbol {
  font-weight: bold; }
  span.gsymbol.lambda {
    color: gray;
    font-style: italic; }
  span.gsymbol.terminal.end-symbol {
    color: red; }
  span.gsymbol.terminal.unknown {
    font-weight: normal;
    font-style: italic;
    color: gray; }
  span.gsymbol.non-terminal {
    color: blue; }
    span.gsymbol.non-terminal.augmenting-symbol {
      color: orange; }
    span.gsymbol.non-terminal.start-symbol {
      color: skyblue; }
    span.gsymbol.non-terminal.nullable {
      font-style: italic; }

span.comma {
  color: gray;
  font-style: italic; }

table {
  border: 1px solid black;
  border-collapse: collapse;
  overflow: hidden; }
  table.compact-table th, table.compact-table td {
    padding: 2px 6px;
    text-align: left; }
  table.hoverable tr:hover {
    background-color: lightgray; }
  table th {
    border: 1px solid black;
    padding: 10px 10px;
    text-align: left;
    background-color: #4CAF50;
    color: white; }
  table td {
    border: 1px solid black;
    padding: 10px 10px;
    text-align: left; }
    table td.b {
      background-color: blue;
      color: white; }
      table td.b *, table td.b .non-terminal {
        color: white; }
    table td.conflict {
      background-color: orange; }
    table td.diagonalFalling {
      background-image: linear-gradient(to right top, blue calc(50% - 1px), black, #4CAF50 calc(50% + 1px)); }
    table td.unfinished {
      background-image: linear-gradient(to right bottom, white calc(50% - 1px), black, white calc(50% + 1px)); }

/* Style the list */
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /* Float the list items side by side */ }
  ul.tab li {
    float: left;
    /* Style the links inside the list items */ }
    ul.tab li a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
      /* Change background color of links on hover */
      /* Create an active/current tablink class */ }
      ul.tab li a:hover {
        background-color: #ddd; }
      ul.tab li a:focus, ul.tab li a.active {
        background-color: #ccc; }

/* Style the tab content */
div.tabcontent {
  width: 100%;
  /*overflow: scroll;*/
  display: none;
  padding: 12px 12px;
  border: 1px solid #ccc;
  border-top: none; }
